<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:bal="http://wixtoolset.org/schemas/v4/wxs/bal">

  <Bundle Name="MyBundle"
          Manufacturer="MyCompany"
          Version="1.0.0.0"
          UpgradeCode="PUT-GUID-HERE">

    <BootstrapperApplication>
      <!-- Use the managed BA host (bal:ManagedBootstrapperApplicationHost) -->
      <bal:ManagedBootstrapperApplicationHost
          LicenseFile="license.rtf"
          SourceFile="..\BA\bin\$(Configuration)\net48\BA.dll"
          Condition="1"
          />
    </BootstrapperApplication>

    <Chain>
      <MsiPackage SourceFile="..\..\payloads\MyProduct.msi" />
    </Chain>

  </Bundle>
</Wix>
